@model IEnumerable<Cinema>
@{
    ViewData["Title"] = "List of Cinemas";
}
<h1 class="card-title">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Logo)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Logo" alt="@item.Name" style="max-width:150px;">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</button> |
                            <button class="btn btn-danger text-white"><i class="bi bi-trash"></i>Delete</button>
                        </td>
                    </tr>
                }
                 
            </tbody>
        </table>


    </div>
    <div class="col align-self-end">
        <button class="btn btn-outline-success text-blue"><i class="bi bi-plus"></i>Create</button>
    </div>
</div>